body {
  background: #666;
  padding: 0;
  margin: 0;
}

#contents {
  background: #CCC;
  min-height: 100vh;
  margin: 0 10%;
}

.tier {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid black;
  margin: 0.3em;
  text-align: center;
  background: white;
  border-radius: 3px;
  padding: 3px;
}

.card input {
  width: 5em;
  text-align: right;
}

.instruction-banner {
  width: 100%;
  height: 1.5em;
  background: lightgreen;
  text-align: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

#banner-padding {
  padding-top: 1.5em;
}

